.title {
    text-align: center;
}

.intro {
    text-align: center;
}

.homeLists {
    display: block;
    /* margin-top: 10%; */
    margin-bottom: 10%;
    /* margin-right: 10%; */
}

.specialize {
    width: 100%;
    margin-left: 10%;
    /* background: red; */
}

.fixExamples {
    width: 100%;
    /* margin-right: 25%; */
    /* background: blue; */
}

.repairContact {
    text-align: center;
    margin-top: 1%;
}

.repairContactBtn {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
